<p id="notice"><%= notice %></p>

<p>
  <strong>Pist:</strong>
  <%= @comment.pist_id %>
</p>

<p>
  <strong> body:</strong>
  <%= @comment. body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
